/* !!!!!Кастомные свойства */
:root {
  --basic-dark-red: #ee3643;
  --special-icon-icon: #3d546f;
  --special-button-wrift: #32425c;
  --special-button: #293449;
  --special-filter: #b4b8bf;
  --special-dark-red: #BA2732;
  --special-red: #CA2C37;
  --special-icon: #5B6069;
  --basic-yellow-green-red-black: #f2f6f8;
  --basic-light-black: #161d29;
  --basic-dark-grey: #c5c5c5;
  --basic-grey-white: #f3f7f9;
  --basic-light-grey: #f1f5f7;
  --basic-silver: #f4f7f9;
  --basic-light-gray: #eaeaea;
  --basic-dark-blue: #293449;
  --basic-blue: #32425c;
  --basic-grey: #888888;
  --basic-red: #ee3643;
  --basic-brown: #f9f5f0;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-yellow: #ffbf47;
  --basic-light-green: #5fbb2d;
  --basic-green: #8ed78f;
  --basic-dark-green: #63a63e;
  --basic-gold: #ffd180;
  --special-yellow: #ffc047;
  --special-blue: #3bbce3;
  --special-violet: #dc91d8;
  --special-gold: #ffda96;
  --special-light-grey: #a9a9a9;
  --special-light-blue: #32425c;
  --special-dark-blue: #1d2739;
  --special-dark-yellow: #f7f3ec;
  --special-icon-gray: #69717F;
  --basic-light-white-transparent: rgba(0, 0, 0, 0.0001);
}

/*  !?!  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 940px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

/*!HEADER*/

.main-header {
  background-color: var(--basic-silver);
}

.header-wrapper {
  background-color: var(--basic-dark-blue);
}

.header-bookmark {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.bookmark-icon {
  fill: var(--special-icon-gray);
}

.header-bookmark:hover svg {
  fill: var(--basic-white);
}

.header-bookmark:active svg {
  fill: var(--special-icon);
}

.header-order {
  list-style: none;
}

.basket-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.first {
  fill: var(--special-icon-gray);
}

.basket-link:hover .first {
  fill: var(--basic-white);
}

.basket-link:active .first {
  fill: var(--special-icon-gray);
}



.order-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-dark-green);
}

.order-link:hover {
  background-color: var(--basic-light-green);
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-dark-green);
}

.header-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
}

.header-phone::before {
  content: url(/img/icon-phone.svg);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-blue);
}

.user {
  list-style: none;
}

.user a {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}

.user a:hover {
  color: var(--basic-red);
}

.user a:active {
  color: var(--basic-dark-grey);
}

.user-list a {
  background-color: var(--basic-light-grey);
}

.user-list li {
  list-style: none;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}



.user-order a,
.user-personal a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--special-light-blue);
}

.user-item:hover a:not(.name) {
  color: var(--basic-red);
}

.user-item:active a:not(.name) {
  color: var(--basic-dark-grey);
}


.login-link:hover .icon {
  fill: var(--special-icon);
}

.icon {
  fill: var(--basic-dark-grey);
}

.login-link:active .icon {
  fill: var(--basic-dark-grey);
}

.name {
  color: var(--basic-black);
}

.name:active {
  color: var(--basic-dark-grey);
}

.name {
  color: var(--basic-black);
}

.third {
  fill: var(--basic-dark-grey);
}

.name:hover .third {
  fill: var(--special-icon-icon);
}

.name:active .third {
  fill: var(--basic-dark-grey);
}


.main-navigation {
  background-color: var(--special-light-blue);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.site-navigation li:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation li:active {
  background-color: var(--special-dark-blue);
}

/*!MAIN*/
/*!6 КАРТИНОК С КНОПКАМИ И СЛАЙДЕР*/

.offer-list {
  list-style: none;
}

.offer-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.offer-link {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.offer-link:hover {
  background-color: rgba(77, 77, 77, 0.3);
}

.offer-link:active {
  background-color: rgba(66, 66, 66, 0.3);
}

.basket-link:active,
.header-bookmark:active {
  background-color: var(--basic-light-black);
  color: rgba(255, 255, 255, 0.5);
}

.basket-link-catalog {
  background-color: var(--special-red);
}

.offer-title-slider {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-white);
  list-style: none;
}

.offer-prescription-slider {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.offer-link-slider {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.offer-link-slider:hover {
  background-color: var(--special-red);
}

.offer-link-slider:active {
  background-color: var(--special-dark-red);
}

.slider-photo {
  background-color: var(--basic-white);
}

.offer-slider-item {
  list-style-type: none;
}

.offer-item-materials {
  background-color: var(--basic-yellow);
  background-image: url(/img/vedro.svg);
  background-repeat: no-repeat;
  background-position: 200px;
}

.offer-item-tools {
  background-color: var(--special-blue);
  background-image: url(/img/drell.svg);
  background-repeat: no-repeat;
  background-position: 200px;
}

.offer-item-technics {
  background-color: var(--special-violet);
  background-image: url(/img/traktor.svg);
  background-repeat: no-repeat;
  background-position: 200px;
}

.offer-item-discounts {
  background-color: var(--basic-green);
  background-image: url(/img/korzina.svg);
  background-repeat: no-repeat;
  background-position: 200px;
}

.offer-item-delivery {
  background-color: var(--basic-yellow);
  background-image: url(/img/machina.svg);
  background-repeat: no-repeat;
  background-position: 200px;
}

/*!ПОПУЛЯРНЫЕ ПРЕДЛОЖЕНИЯ И БРЕНДЫ*/

.bestsellers-title,
.brands-title {
  background-color: var(--basic-brown);
}

.popular {
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-brown);
}

.popular-link {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.bestsellers-list,
.brands-list {
  list-style: none;
}

.card {
  border: 1px solid var(--basic-light-gray);
  background-color: var(--basic-white);
}

.card-name {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: var(--special-light-grey);
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.brands-item {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-light-gray);
}

.brands-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands-item:active img {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}


/*!СЕРВИСЫ*/

.services {
  background-color: var(--basic-light-grey);
}

.services-list,
.services-slider-list {
  list-style: none;
}

.services-list button,
button:active,
button:focus {
  border: none;
  outline: none;
}

.services-slider-button:hover {
  background-color: var(--special-button);
}

.services-slider-button:active {
  background-color: var(--special-white);
  color: var(--special-button-wrift);
  box-shadow: 0px 1px 0px var(--basic-light-white-transparent);
}


.services-delivery {
  background-image: url(/img/dostavka.png);
  background-position: 200px -50px;
  background-repeat: no-repeat;
}

.services-guarantee {
  background-image: url(/img/garantia.png);
  background-position: 200px -50px;
  background-repeat: no-repeat;
}

.services-credit {
  background-image: url(/img/kredit.png);
  background-position: 200px -50px;
  background-repeat: no-repeat;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-tagline {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.services-slider-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--special-light-blue);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

/*services-slider-select {
  font-size: 21px;
  line-height: 30px;
  align-items: center;
  font-weight: bold;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-light-white-transparent);
} */

.services-slider-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-light-blue);
}

.services-slider-description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.services-request {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*!COMPANY*/

.company-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-delivery,
.company-prescription {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.company-delivery-list {
  list-style: none;
}

.company-delivery-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.company-info {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*!CONTACTS*/

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-prescription {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.map {
  background: var(--basic-light-white-transparent);
}

.map-help {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*!FOOTER*/

.main-footer {
  background-color: var(--basic-blue);
}

.footer-wrapper {
  background-color: var(--basic-blue);
}

.footer-navigation-list {
  list-style: none;
}

.footer-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-grey);
}

.footer-navigation-item a:hover,
.footer-additional-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active,
.footer-additional-item a:active {
  mix-blend-mode: normal;
  opacity: 0.5;
  text-decoration: none;
}

.footer-additional-menu {
  background-color: var(--basic-blue);
}

.footer-address,
.footer-phone {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-white);
}

.footer-additional-list {
  list-style: none;
}

.footer-additional-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gold);
}

.footer-about-us {
  background-color: var(--basic-dark-blue);
}

.footer-all-rights {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social-list {
  list-style: none;
}

.social-item-vkontakte {
  background-image: url(/img/Вконтакте.svg);
}

.social-item-facebook {
  background-image: url(/img/Фейсбук.svg);
}

.social-item-instagram {
  background-image: url(/img/Инстаграм.svg);
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-mail {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gold);
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-copyright-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gold);
}

.footer-mail:hover,
.footer-copyright-link:hover {
  text-decoration: underline;
}

.footer-mail:active,
.footer-copyright-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/*!Каталог*/

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item a {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.product {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-yellow-green-red-black);
}

.sorting {
  background-color: var(--special-dark-yellow);
}

.sorting-list {
  list-style: none;
}

.sorting-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.sorting-item-price a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-red);
}

.sorting-item-type a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-red);
}

.sorting-item-function a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-red);
}

.sorting-item:hover:not(.sorting-item-price):not(.sorting-scroll-up):not(.sorting-scroll-down) a {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red)
}

.sorting-item:active:not(.sorting-item-price):not(.sorting-scroll-up):not(.sorting-scroll-down) a {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}


.last-icon {
  fill: var(--basic-dark-grey);
}

.last-icon-red {
  fill: var(--basic-red);
}

.sorting-scroll-down:hover .last-icon {
  fill: var(--basic-black);
}

.sorting-scroll-down:active .last-icon {
  fill: var(--basic-red);
}

.catalog-list {
  list-style: none;
}

.card-menu {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.card-buy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.card-buy:hover {
  background-color: #5FBB2D;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.card-buy:active {
  background-color: #518534;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.card-buy::before {
  content: url(/img/icon-cart.svg);
}

.card-bookmark:hover {
  border: 2px solid var(--special-button-wrift);
}

.card-bookmark:active {
  opacity: 0.5;
}

.card-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-dark-green);
}

.pagination-list {
  list-style: none;
}

.pagination-item-select {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-item:hover a {
  border: 1px solid var(--basic-dark-grey);
}

.pagination-item:active a {
  border: 1px solid var(--basic-dark-red);
}

.about-product {
  background-color: var(--basic-light-grey);
}

.about-product-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-product-description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}
