/* !!!!!Кастомные свойства */
:root {
    --basic-logo: #b52933;
    --basic-dark-red: #ee3643;
    --special-icon-icon: #3d546f;
    --special-button-wrift: #32425c;
    --special-button: #293449;
    --special-filter: #b4b8bf;
    --special-dark-red: #BA2732;
    --special-red: #CA2C37;
    --special-icon: #5B6069;
    --basic-yellow-green-red-black: #f2f6f8;
    --basic-light-black: #161d29;
    --basic-dark-grey: #c5c5c5;
    --basic-grey-white: #f3f7f9;
    --basic-light-grey: #f1f5f7;
    --basic-silver: #f4f7f9;
    --basic-light-gray: #eaeaea;
    --basic-dark-blue: #293449;
    --basic-blue: #32425c;
    --basic-grey: #888888;
    --basic-red: #ee3643;
    --basic-brown: #f9f5f0;
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-yellow: #ffbf47;
    --basic-light-green: #5fbb2d;
    --basic-green: #8ed78f;
    --basic-dark-green: #63a63e;
    --basic-gold: #ffd180;
    --special-yellow: #ffc047;
    --special-blue: #3bbce3;
    --special-violet: #dc91d8;
    --special-gold: #ffda96;
    --special-light-grey: #a9a9a9;
    --special-light-blue: #32425c;
    --special-dark-blue: #1d2739;
    --special-dark-yellow: #f7f3ec;
    --special-icon-gray: #69717F;
    --basic-light-white-transparent: rgba(0, 0, 0, 0.0001);
}

/*  !?!  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-width: 960px;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page a {
    text-decoration: none;
}

.page img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*!HEADER*/

.main-header {
    min-height: 320px;
    margin-bottom: 59px;
    background-color: var(--basic-silver);
}

.header-wrapper,
.container,
.footer-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-wrapper {
    min-height: 42px;
}

.search-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 270px;
    min-height: 42px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--special-button);
    border: none;
}

.search-icon {
    opacity: 0.3;
}


.search-form {
    position: relative;
}

.search-input:focus {
    background: var(--basic-white);
}

.search-input:hover + svg {
    fill: var(--basic-white);
    opacity: 1;
}

.search-input:focus + svg {
    fill: var(--basic-red);
    opacity: 1;
}

.search-input:focus .search-label {
    color: black;
}


.search-input {
    padding-left: 42px;
}

.search-label {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.search-label {
    position: absolute;
    top: 10px;
    left: 42px;
}

.header-inner {
    min-height: 42px;
    margin-bottom: 44px;
    background-color: var(--basic-dark-blue);
}

.additional-menu-inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
}

.header-main-menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 42px;
    background-color: var(--basic-dark-blue);
}

.footer-logo,
.header-logo {
    padding: 0;
    margin: 0;
}

.footer-logo {
    display: block;
    min-height: 68px;
}

.header-logo {
    position: relative;
    display: block;
    width: 220px;
    min-height: 42px;
    background: var(--basic-red)
}

.header-logo:hover {
    background: #BA2732;
}

.header-logo::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 0px;
    width: 220px;
    min-height: 5px;
    background-color: var(--basic-logo);
}

.header-logo-words {
    position: absolute;
    top: 12px;
    left: 55px;
    width: 108px;
    min-height: 18px;
}

.search-label {
    margin-right: 10px;
}

.search-icon {
    position: absolute;
    width: 17px;
    height: 17px;
    fill: var(--basic-white);
    top: 12px;
    left: 17px;
}

.header-additional-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}


.bookmark-link {
    display: block;
    width: 150px;
    min-height: 42px;
    padding: 3px;
    padding-top: 11px;
    padding-left: 2px;
    font-family: inherit;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.bookmark-link-catalog {
    width: 164px;
    text-align: unset;
    padding: 11px 5px 5px 20px;
}

.bookmark-icon {
    width: 14px;
    height: 16px;
    margin-right: 4px;
    fill: var(--special-icon-gray);
}

.header-bookmark:hover svg {
    fill: var(--basic-white);
}

.header-bookmark:active svg {
    fill: var(--special-icon);
}

.basket-link {
    display: block;
    width: 150px;
    min-height: 42px;
    padding: 5px;
    padding-top: 11px;
    padding-left: 6px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.basket-icon {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    fill: var(--special-icon-gray);
}

.basket-link:hover .basket-icon {
    fill: var(--basic-white);
}

.basket-link:active .basket-icon {
    fill: var(--special-icon-gray);
}

.order-link {
    display: block;
    width: 150px;
    min-height: 42px;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-dark-green);
}

.order-link:hover {
    background-color: var(--basic-light-green);
}

.order-link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--basic-dark-green);
}

.header-description {
    width: 197px;
    min-height: 71px;
    margin: 0;
    padding: 0;
    margin-right: 93px;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: var(--basic-red);
}

.header-contacts {
    width: 270px;
    min-height: 75px;
    margin-right: 69px;
}

.header-contacts-catalog {
    margin-right: 51px;
    padding-top: 4px;
}

.header-phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 270px;
    min-height: 45px;
    padding: 5px;
    padding-top: 2px;
    padding-left: 3px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
    border: 3px solid var(--basic-white);
    margin-right: 5px;
    margin-bottom: 2px;
}

.header-phone::before {
    content: "";
    width: 19px;
    height: 19px;
    background: url(../img/icon-phone.svg);
    padding-right: 13px;
    margin-right: 15px;
}

.header-address {
    min-height: 24px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-blue);
}

.login {
    width: 281px;
    min-height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.login a {
    margin-bottom: 10px;
}

.login a:not(:last-child) {
    margin-right: 10px;
}

.login-link {
    text-align: center;
    width: 121px;
    min-height: 45px;
    padding: 10px 5px;
}

.registration-link {
    text-align: center;
    padding: 11px 10px;
    width: 150px;
    min-height: 45px;
}

.login-link,
.registration-link {
    font-family: inherit;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.login-link:hover,
.registration-link:hover {
    color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
    color: var(--basic-dark-grey);
}

.user-item-link,
.my-orders,
.personal-area {
    background-color: var(--basic-light-grey);
}

.user-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.user-order {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 210px;
    min-height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 45px;
    margin-top: 2px;
}

.my-orders::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: linear-gradient(0deg, #32425C, #32425C), #FFFFFF;
    left: 87px;
    top: 9px;
}

.user-order:hover a {
    color: red;
}

.user-order:hover .my-orders::before {
    background: red;
}

.user-order:active a {
    color: #c5c5c5;
}

.user-order:active .my-orders::before {
    background: #c5c5c5;
}




.user-name {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.my-orders,
.personal-area {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 2px 0;
    color: var(--special-light-blue);
}

.user-item:hover a:not(.user-item-link) {
    color: var(--basic-red);
}

.user-item:active a:not(.user-item-link) {
    color: var(--basic-dark-grey);
}

.login-icon {
    width: 20px;
    min-height: 17px;
    fill: var(--basic-dark-grey);
    margin-left: -8px;
    margin-right: 2px;
}

.login-link:hover .login-icon {
    fill: var(--special-icon);
}

.login-link:active .login-icon {
    fill: var(--basic-dark-grey);
}

.catalog-menu-inner {
    display: flex;
}

.user-name {
    display: flex;
    width: 299px;
    min-height: 45px;
}

.user-item-link {
    display: flex;
    width: 265px;
    min-height: 45px;
    padding: 10px 14px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.exit-link {
    padding-top: 13px;
    padding-right: 18px;
}

.exit-link:hover .exit-icon {
    fill: var(--special-icon-icon);
}

.exit-link:active .exit-icon {
    fill: var(--basic-dark-grey);
}

.user-item-icon {
    margin-right: 24px;
}

.user-item-link:active {
    color: var(--basic-dark-grey);
}

.user-item-icon,
.exit-icon {
    fill: var(--basic-dark-grey);
}

.user-item-link:hover .user-item-icon,
.user-item-link:hover .exit-icon {
    fill: var(--special-icon-icon);
}

.user-item-link:active .user-item-icon,
.user-item-link:active .exit-icon {
    fill: var(--basic-dark-grey);
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    min-height: 60px;
    background-color: var(--special-light-blue);
    box-shadow: inset 0px -5px 0px #293449;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-item a {
    display: block;
    min-width: 55px;
    min-height: 60px;
    padding: 18px 20px 10px 20px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.navigation-item:first-child a {
    padding: 18px 20px 10px 53px;
}

.navigation-item:last-child a {
    padding: 18px 50px 10px 20px;
}

.navigation-item:not(:last-child) {
    margin-right: 17px;
}

.navigation-item:hover {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--basic-dark-blue);
}

.navigation-item:active {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--special-dark-blue);
}

.main-header-catalog {
    min-height: 320px;
    margin-bottom: 18px;
    background-color: var(--basic-silver);
}

/*!MAIN*/
/*!6 КАРТИНОК С КНОПКАМИ И СЛАЙДЕР*/

.offer-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 123px);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.offer-title {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-white);
}

.offer-link {
    display: block;
    width: 135px;
    min-height: 38px;
    text-align: center;
    padding: 10px 10px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, 0.3);
}

.offer-link:hover {
    background-color: rgba(77, 77, 77, 0.3);
}

.offer-link:active {
    background-color: rgba(66, 66, 66, 0.3);
}

.basket-link:active,
.header-bookmark:active {
    background-color: var(--basic-light-black);
    color: rgba(255, 255, 255, 0.5);
}

.basket-link-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    width: 136px;
    min-height: 42px;
    padding: 5px 15px;
    padding-left: 5px;
    background-color: var(--special-red);
}

.basket-link-catalog svg {
    fill: white;
    opacity: 0.3;
}

.basket-icon-catalog {
    margin-right: 8px;
}

.offer-title-slider {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--basic-white);
    list-style: none;
}

.offer-prescription-slider {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.offer-link-slider {
    width: 192px;
    min-height: 38px;
    padding: 10px 15px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.offer-link-slider:hover {
    background-color: var(--special-red);
}

.offer-link-slider:active {
    background-color: var(--special-dark-red);
}

.slider-photo {
    background-color: var(--basic-white);
}

.offer-item {
    width: 300px;
    min-height: 123px;
    padding: 20px 10px 10px 22px;
    background-repeat: no-repeat;
}

.offer-item-materials {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--basic-yellow);
    background-image: url(../img/bucket.svg);
    overflow: hidden;
    background-position: 214px 32px;
}

.offer-item-tools {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--special-blue);
    background-image: url(../img/drill.svg);
    background-position: 195px 33px;
}

.offer-item-technics {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: var(--special-violet);
    background-image: url(../img/traсtor.svg);
    background-position: 190px;
}

.offer-slider-item {
    margin: 0;
    padding: 0;
}

.offer-slider-item {
    grid-column: 1/3;
    grid-row: 2/4;
}

.slider,
.slider-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider {
    display: none;
}

.slider-current {
    display: block;
}

.offer-title-slider {
    position: absolute;
    top: -15px;
    left: 24px;
}

.slider-tumbler,
.slider-indicator {
    position: relative;
}

.button-left {
    position: absolute;
    top: -152px;
    left: 24px;
    width: 22px;
    height: 40px;
    background: url(../img/icon-left.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}

.button-right {
    position: absolute;
    top: -152px;
    left: 578px;
    width: 22px;
    height: 40px;
    background: url(../img/icon-right.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    border: none;
}

.slider-indicator-wrapper {
    position: absolute;
    display: flex;
    width: 30px;
    height: 10px;
    top: -55px;
    left: 295px;
}

.left-indicator,
.right-indicator {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
    border: none;
}

.indicator-current {
    position: relative;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}

.indicator-current::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    top: 2px;
    left: 3px;
}


.offer-prescription-slider {
    position: absolute;
    top: 47px;
    left: 24px;
}

.offer-link-slider {
    position: absolute;
    top: 201px;
    left: 24px;
}

.offer-item-discounts {
    background-color: var(--basic-green);
    background-image: url(../img/basket.svg);
    background-position: 195px 25px;
}

.offer-item-delivery {
    background-color: var(--basic-yellow);
    background-image: url(../img/machina.svg);
    background-position: 190px;
}

.offer {
    margin-bottom: 60px;
}

/*!ПОПУЛЯРНЫЕ ПРЕДЛОЖЕНИЯ И БРЕНДЫ*/

.bestsellers-navigation,
.brands-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    min-height: 89px;
    padding-left: 27px;
    background-color: var(--basic-brown);
    margin-bottom: 20px;
}

.bestsellers-navigation-title,
.brands-title {
    width: 400px;
    min-height: 30px;
    margin: 0;
    letter-spacing: -0.7px;
    font-size: 30px;
    line-height: 30px;
    padding-top: 30px;
    text-transform: uppercase;
    color: var(--basic-blue);
    background-color: var(--basic-brown);
}

.bestsellers-navigation-link,
.brands-navigation-link {
    align-self: flex-start;
    width: 192px;
    min-height: 38px;
    margin-right: 13px;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    margin-top: 25px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.brands-navigation-link {
    margin-right: 18px;
}

.bestsellers-navigation-link:hover,
.brands-navigation-link:hover,
.company-info:hover,
.map-help:hover,
.modal-button:hover,
.services-request:hover {
    background-color: var(--special-red);
}

.bestsellers-navigation-link:active,
.brands-navigation-link:active,
.company-info:active,
.map-help:active,
.modal-button:active,
.services-request:active {
    background-color: var(--special-dark-red);
}

.bestsellers-list,
.catalog-list,
.brands-list {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    list-style: none;
    margin: 0;
    padding: 0;
}

.bestsellers,
.brands {
    margin-bottom: 70px;
}

.index-column {
    margin-bottom: 56px;
}

.bestsellers-list,
.brands-list {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 220px;
    min-height: 318px;
    border: 1px solid var(--basic-light-gray);
    background-color: var(--basic-white);
}


.card-buy-menu {
    display: block;
    width: 219px;
    min-height: 170px;
    margin-bottom: 5px;
    padding-top: 36px;
    padding-left: 40px;
}

.card-buy-menu {
    display: none;
}

.card:hover .card-image-wrapper {
    display: none;
}

.card:focus .card-image-wrapper {
    display: none;
}

.card:hover .card-buy-menu {
    display: block;
}

.card:focus .card-buy-menu {
    display: block;
}

.card:focus-within .card-image-wrapper {
    display: none;
}

.card:focus-within .card-buy-menu {
    display: block;
}

.bestsellers-item:hover,
.bestsellers-item:focus-within {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.catalog-item-checked {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.catalog-item-checked .card-image-wrapper {
    display: none;
}

.catalog-item-checked .card-buy-menu {
    display: block;
}

.card-title,
.old-price {
    margin: 0;
    padding: 0;
}

.card-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 219px;
    min-height: 170px;
    margin-bottom: 5px;
}

.card-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.card-title {
    margin: 0;
    padding-top: 3px;
    padding-right: 1px;
    order: 1;
    width: 160px;
    min-height: 41px;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
}

.old-price {
    position: relative;
    order: 2;
    width: 170px;
    margin: 0;
    padding: 4px 10px;
    padding-left: 9px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--special-light-grey);
}

.old-price::before {
    content: "";
    width: 65px;
    height: 1px;
    position: absolute;
    background: var(--special-light-grey);
    top: 15px;
}

.bestsellers-item {
    overflow: hidden;
}

.new-price {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: auto;
    order: 3;
    padding: 10px;
    padding-left: 12px;
    padding-top: 8px;
    text-align: center;
    width: 130px;
    min-height: 38px;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-white);
    background-color: var(--basic-red);
    outline-offset: 14px;
}

.new-price::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 38px;
    background-color: white;
    border-style: solid;
    border-width: 19px 0 19px 20px;
    border-color: transparent transparent transparent #ee3642;
    top: -0.2px;
    right: -11px;
}

.new {
    position: relative;
}

.new::before {
    content: "NEW";
    position: absolute;
    right: -26px;
    top: 9px;
    text-align: center;
    padding-top: 7px;
    width: 100px;
    min-height: 30px;
    background: #EE3643;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    Color: white;
    transform: rotate(45deg);
    z-index: 1;
}

.brands-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 220px;
    min-height: 145px;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-light-gray);
    text-align: center;
}

.brands-link-lg {
    padding-top: 0;
}

.brands-link-makita,
.brands-link-dewalt {
    padding-bottom: 15px;
}

.brands-link-bosch,
.brands-link-interscol {
    padding-top: 1px;
}

.brands-link-hitachi {
    padding-left: 5px;
    padding-top: 2px;
}

.brands-link-aeg,
.brands-link-metabo {
    padding-bottom: 10px;
}

.catalog-item:hover,
.brands-link:hover,
.brands-link:focus-within {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands-link:active {
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands-link:active .brands-picture {
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands-link {
    width: 220px;
    min-height: 145px;
}

/*!СЕРВИСЫ*/

.services-wrapper {
    margin-bottom: 25px;
    background-color: var(--basic-light-grey);
}

.services {
    background-color: var(--basic-light-grey);
    padding-top: 42px;
}

.services-slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-slider {
    display: flex;
    flex-wrap: wrap;
}

.services-controls {
    position: relative;
    width: 240px;
    padding-top: 12px;
    min-height: 180px;
    margin-right: 80px;
}

.services-slider-button,
.services-slider-button:active,
.services-slider-button:focus {
    border: none;
}

.services-slider-button:hover:not(.services-button-current) {
    background-color: var(--special-button);
}

.services-slider-item {
    display: none;
    min-height: 295px;
    width: 619px;
    background-position: 150px 30px;
    background-repeat: no-repeat;
}

.services-slider-item-current {
    display: block;
}

.services-delivery {
    background-image: url(../img/delivery.png);
}

.services-guarantee {
    background-image: url(../img/guaranty.png);
    background-position: 240px;
    background-repeat: no-repeat;
}

.services-guarantee .services-slider-title {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 19px;
}

.services-guarantee .services-slider-description {
    width: 320px;
}

.services-credit {
    background-image: url(../img/credit.png);
    background-position: 165px 10px;
    background-repeat: no-repeat;
}

.services-credit .services-slider-title {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 23px;
}

.services-credit .services-slider-description {
    min-height: 60px;
    margin-bottom: 20px;
}

.services-controls::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 220px;
    background-color: transparent;
    left: 240px;
    top: -18px;
    box-shadow: -5px 0px 5px -4px;
}

.services-title {
    width: 300px;
    min-height: 30px;
    margin: 0;
    margin-bottom: 24px;
    padding-top: 22px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--basic-black);
}

.services-tagline {
    width: 396px;
    min-height: 39px;
    margin-bottom: 60px;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
}

.services-slider-button {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 14px;
    padding-left: 22px;
    width: 240px;
    min-height: 61px;
    font-weight: bold;
    font-family: inherit;
    font-size: 21px;
    line-height: 30px;
    cursor: pointer;
    color: var(--basic-white);
    background-color: var(--special-light-blue);
}

.services-button-current {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    min-height: 61px;
    padding-top: 12px;
    padding-left: 22px;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: white;
    color: var(--special-button-wrift);
}

.services-slider-title {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    width: 305px;
    letter-spacing: -1px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--special-light-blue);
}

.services-slider-description {
    width: 280px;
    min-height: 99px;
    font-size: 13px;
    line-height: 24px;
    padding-top: 5px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
}

.services-request {
    display: block;
    width: 195px;
    padding: 10px 9px 10px 8px;
    min-height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 2px;
}

/*!COMPANY*/

.company {
    width: 639px;
    padding-top: 2px;
}

.company-title {
    letter-spacing: -0.8px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.company-delivery,
.company-description {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
}

.company-description {
    width: 460px;
    min-height: 85px;
}

.company-delivery {
    width: 440px;
    min-height: 20px;
    margin: 0;
    padding: 0;
}

.company-delivery-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 38px;
    padding-top: 2px;
}

.company-delivery-item {
    width: 110px;
    min-height: 24px;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
}

.company-delivery-item:last-child {
    margin-bottom: 21px;
}

.decoration {
    position: relative;
}

.decoration::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 12px;
    right: 122px;
    background-color: red;
}

.company-info {
    display: block;
    width: 220px;
    min-height: 38px;
    padding: 10px;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/*!CONTACTS*/

.contacts {
    padding-top: 2px;
}

.contacts-title {
    letter-spacing: -0.8px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.contacts-description {
    width: 180px;
    min-height: 50px;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
}

.map-button {
    width: 300px;
    min-height: 158px;
}

.map-button img {
    margin-bottom: 3px;
    background: var(--basic-light-white-transparent);
}

.map-help {
    display: block;
    width: 300px;
    min-height: 38px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.index-column {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 18px;
}

/*!FOOTER*/

.main-footer {
    background-color: var(--basic-blue)
}

.footer-wrapper {
    margin-bottom: 14px;
    background-color: var(--basic-blue);
}

.footer-additional-wrapper {
    background-color: var(--basic-dark-blue);
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-main-menu {
    display: flex;
    flex-wrap: wrap;
    min-height: 68px;
    background-color: var(--basic-blue);
}

.footer-navigation-list {
    width: 720px;
    min-height: 68px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 38px;
    padding-left: 174px;
    list-style: none;
}

.footer-navigation-item:not(:last-child) {
    margin-right: 58px;
}

.footer-navigation-link {
    min-width: 55px;
    min-height: 24px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light-grey);
}

.footer-navigation-link:hover,
.footer-additional-link:hover {
    text-decoration: underline;
}

.footer-navigation-link:active,
.footer-additional-link:active {
    mix-blend-mode: normal;
    opacity: 0.5;
    text-decoration: none;
}

.footer-additional-menu {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--basic-blue);
    width: 940px;
    min-height: 103px;
}

.footer-address,
.footer-phone {
    width: 340px;
    min-height: 49px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-grey-white);
}

.footer-address {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    padding-top: 15px;
}

.footer-additional-list {
    width: 600px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 20px;
    padding-left: 76px;
}

.footer-additional-item {
    margin-right: 59px;
}


.footer-additional-item:last-child {
    margin-right: 0;
}

.footer-additional-link {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-gold);
}

.footer-about-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 107px;
    background-color: var(--special-button);
}

.about-us-wrapper {
    background-color: var(--special-button);
}

.footer-all-rights {
    width: 247px;
    min-height: 37px;
    margin-right: 100px;
    font-size: 16px;
    line-height: 18px;
    padding-left: 2px;
    color: var(--basic-white);
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 12px;
    padding-left: 42px;
    list-style: none;
    margin-right: 120px;
}

.social-logo {
    fill: white;
}


.social-icon {
    fill: #212a3a;
}

.vkontakte-icon:hover .social-icon,
.facebook-icon:hover .social-icon,
.instagram-icon:hover .social-icon {
    fill: #ee3643;
}

.social-item {
    display: block;
    width: 44px;
    min-height: 44px;
}

.footer-feedback {
    width: 137px;
    min-height: 37px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    margin-right: 53px;
    color: var(--basic-white);
}

.footer-mail {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-gold);
}

.footer-copyright {
    width: 98px;
    min-height: 37px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-copyright-link {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-gold);
}

.footer-mail:hover,
.footer-copyright-link:hover {
    text-decoration: underline;
}

.footer-mail:active,
.footer-copyright-link:active {
    text-decoration: none;
    color: var(--basic-red);
}

/*!Каталог*/

.filters input {
    font-family: inherit;
}

.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}

.catalog-item {
    overflow: hidden;
}

.catalog-title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--special-button-wrift);
    background-color: var(--basic-yellow-green-red-black);
}

.breadcrumbs-link {
    position: relative;
    margin-bottom: 20px;
    margin-right: 15px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}


.breadcrumbs-item {
    position: relative;
    margin-right: 27px;
}

.breadcrumbs-item:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    background: url(../img/icon-right-small.svg);
    width: 8px;
    height: 12px;
    top: 6px;
    left: -25px;
}


.breadcrumbs-selected {
    padding-left: 30px;
    padding-top: 30px;
    letter-spacing: -1px;
    width: 940px;
    min-height: 90px;
    background-color: var(--basic-yellow-green-red-black);
}

.product {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-blue);
    background-color: var(--basic-yellow-green-red-black);
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sorting {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 29px;
    min-height: 38px;
    background-color: var(--special-dark-yellow);
}

.sorting-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
    padding-left: 20px;
    margin-right: 140px;
}

.sorting-item-price {
    margin-right: 70px;
}

.sorting-link {
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);
}

.sorting-item-type {
    margin-right: 65px;
}

.sorting-item-function {
    margin-right: 46px;
}

.sorting-scroll-up {
    margin-right: 21px;
}

.sorting-link {
    display: block;
}

.sorting-link-down:hover:not(.sorting-link-current),
.sorting-link-up:hover:not(.sorting-link-current),
.sorting-link-price:hover:not(.sorting-link-current),
.sorting-link-type:hover:not(.sorting-link-current),
.sorting-link-function:hover:not(.sorting-link-current) {
    color: var(--basic-black);
    opacity: 1;
}

.sorting-link-down:active:not(.sorting-link-current),
.sorting-link-up:active:not(.sorting-link-current),
.sorting-link-price:active:not(.sorting-link-current),
.sorting-link-type:active:not(.sorting-link-current),
.sorting-link-function:active:not(.sorting-link-current) {
    color: var(--basic-red);
    opacity: 1;
    border-bottom: none;
}

.sorting-link-current,
.sorting-link-current svg {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-red);
    opacity: 1;
    border: none;
    fill: var(--basic-red);
}

.last-icon {
    fill: var(--basic-dark-grey);
}

.sorting-scroll-up:hover .last-icon,
.sorting-scroll-down:hover .last-icon {
    fill: var(--basic-black);
}

.sorting-scroll-up:active .last-icon,
.sorting-scroll-down:active .last-icon {
    fill: var(--basic-red);
}

.sorting-link-up,
.sorting-link-down {
    border: none;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 18px;
    column-gap: 19px;
}

.card-buy {
    display: block;
    width: 135px;
    min-height: 38px;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 18px;
    padding: 8px 5px 5px 30px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-dark-green);
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.card-buy:hover {
    background-color: #5FBB2D;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.card-buy:active {
    background-color: #518534;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.card-buy::before {
    content: url(../img/icon-cart.svg);
    margin-right: 10px;
}

.card-bookmark:hover {
    border: 2px solid var(--special-button-wrift);
}

.card-bookmark:active {
    opacity: 0.5;
    border: 2px solid var(--special-button-wrift);
}

.card-bookmark {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 135px;
    min-height: 38px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 47px;
    text-transform: uppercase;
    color: var(--basic-blue);
    background-color: var(--basic-white);
    border: 2px solid var(--basic-dark-green);
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-item a {
    display: block;
    width: 38px;
    height: 38px;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 15px;
    text-align: center;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.pagination-item-current a {
    width: 38px;
    height: 38px;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 2px;
}

.pagination-item-next a {
    width: 140px;
    height: 38px;
    text-transform: uppercase;
}

.pagination-item:not(:last-child) {
    margin-right: 10px;
}

.pagination-item:hover a {
    border: 1px solid var(--basic-dark-grey);
}

.pagination-item:active a {
    border: 1px solid var(--basic-dark-red);
}

.about-product {
    background-color: var(--basic-light-grey);
}

.about-product-title {
    letter-spacing: -0.7px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.about-product-description {
    padding-top: 6px;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
}

.filters-title {
    margin: 0;
    width: 220px;
    min-height: 38px;
    padding-left: 18px;
    padding-top: 10px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-bottom: 14px;
    background-color: var(--special-dark-yellow);
}

.main-column {
    display: grid;
    grid-template-columns: 220px 700px;
    gap: 20px;
    margin-bottom: 60px;
}

.filters {
    grid-column: 1 / 2;
}

.catalog-column {
    grid-column: 2 / 3;
}

.catalog {
    margin-bottom: 47px;
}

.breadcrumbs-menu {
    margin-bottom: 18px;
}

.product-wrapper {
    background-color: var(--basic-light-grey);
    min-height: 260px;
    padding-top: 38px;
}

.fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filter-option {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-option label,
.filter-radio label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.checkbox + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: -3px;
    width: 23px;
    height: 23px;
    background-color: white;
    border: 3px solid #c5c5c5;
    border-radius: 3px;
}


.checkbox + label:hover::before {
    border: 3px solid #b5b5b5;
}


.checkbox:focus + label::before {
    border: 3px solid #b5b5b5;
}

.checkbox:focus + label {
    box-shadow: 0 0 0 3px white, 0 0 0 4px black;
}

.checkbox[disabled] + label {
    opacity: 0.4;
}

.radio + label:hover::before {
    border: 3px solid #b5b5b5;
}

.radio:focus + label::before {
    border: 3px solid #b5b5b5;
}

.radio:focus + label {
    box-shadow: 0 0 0 2px black;
    border-radius: 3px;
}

.filter-checkbox label {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
}

.legend-brands,
.legend-radio {
    position: relative;
    margin-bottom: 10px;
}

.legend-battery {
    padding-left: 1px;
    margin-bottom: 50px;
}


.legend-brands::before,
.legend-radio::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 1px;
    background: #e5e5e5;
    top: -18px;
}

.legend-checkbox {
    padding-left: 1px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-bottom: 12px
}

.legend-radio {
    margin-bottom: 8px;
}

.legend-brands {
    margin-bottom: 1px;
}

.checkbox-list {
    padding-top: 2px;
    padding-left: 36px;
    margin-bottom: 46px;
}

.checkbox + label:not(:last-child) {
    margin-bottom: 20px;
}

.checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -32px;
    top: -3px;
    width: 25px;
    min-height: 20px;
    background: url(../img/shape-two.svg);
    background-repeat: no-repeat;
}

.radio + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: -2px;
    width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: 3px solid #c5c5c5;
}



.radio:checked + label::after {
    content: "";
    position: absolute;
    left: -28px;
    top: 6px;
    width: 9px;
    min-height: 9px;
    border-radius: 50%;
    background: url(../img/oval.svg);
}

.radio-list .filter-radio {
    margin-bottom: 22px;
}

.radio-list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 19px;
    padding-left: 36px;
    margin-bottom: 38px;
}

.filter-option {
    margin-bottom: 20px;
}

.filters-button {
    width: 220px;
    min-height: 38px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding: 10px;
    padding-left: 9px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    border: 1px solid var(--basic-dark-grey);
    background-color: var(--basic-white);
    cursor: pointer;
}

.checkbox-bosch .scale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    min-height: 2px;
    background-color: #D7DCDE;
    margin-bottom: 10px;
}

.bar {
    width: 70%;
    background-color: green;
    min-height: 2px;
}

.range-controls {
    padding: 10px;
    padding-top: 39px;
    padding-left: 20px;
    position: relative;
    background-color: var(--special-dark-yellow);
    width: 220px;
    min-height: 80px;
    margin-bottom: 9px;
    border-radius: 2px;
}

.range-controls .toggle-min {
    position: absolute;
    width: 22px;
    min-height: 22px;
    top: 29px;
    left: 18px;
    background: url(../img/filter-button.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.range-controls .toggle-max {
    position: absolute;
    width: 22px;
    min-height: 22px;
    top: 29px;
    left: 160px;
    background: url(../img/filter-button.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.fieldset legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.min-price-input,
.max-price-input {
    width: 95px;
    min-height: 38px;
    border: none;
    background-color: var(--special-dark-yellow);
    text-align: center;
    padding: 5px;
    padding-left: 19px;
    border-radius: 2px;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.max-price-input {
    padding-top: 2px;
    padding-left: 22px;
    letter-spacing: 1px;
}

.min-price-input {
    margin-right: auto
}

.range {
    margin-bottom: 41px;
}

.filters-checkbox {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.filter-checkbox:last-child {
    margin: 0;
}

/* !МОДАЛЬНОЕ ОКНО ОТЗЫВ */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    z-index: 2;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-login {
    width: 620px;
    min-height: 430px;
    top: 120px;
    bottom: auto;
    background-color: var(--basic-white);
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.75));
}

.modal-label {
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
    color: var(--basic-black);
}

.modal-login-wrapper {
    position: relative;
    width: 460px;
    min-height: 430px;
    margin: 0 auto;
    padding-top: 33px;
}

.modal-login-wrapper::before {
    content: "";
    position: absolute;
    width: 620px;
    height: 7px;
    background: var(--basic-red);
    top: 0;
    left: -80px;
}

.modal-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.modal-form p:nth-child(3) {
    margin-top: -1px;
}

.modal-close {
    position: absolute;
    right: 11px;
    top: 21px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
}


.modal-close::after,
.modal-close::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--basic-red);
    right: -2px;
    top: 10px;
}

.modal-close::after {
    transform: rotate(45deg);
}

.modal-close::before {
    transform: rotate(-45deg);
}

.write-us-name,
.write-us-email,
.write-us-comment {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-black);
    margin-bottom: 11px;
}

.write-us-name {
    width: 178px;
    min-height: 24px;
}

.write-us-email {
    width: 185px;
    min-height: 24px;
}

.write-us-comment {
    width: 202px;
    min-height: 24px;
}

.modal-input {
    width: 220px;
    min-height: 38px;
    border: 2px solid #C5C5C5;
    border-radius: 2px;
    margin-top: 10px;
}

.modal-input::placeholder {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #A9A9A9;
    padding-left: 9px;
    letter-spacing: 1px;
}

.comment {
    width: 460px;
    min-height: 114px;
    border: 2px solid #C5C5C5;
    border-radius: 2px;
    margin-bottom: 37px;
    list-style: none;
}

.modal-button {
    width: 460px;
    min-height: 38px;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background: var(--basic-red);
    border: none;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.modal-button-wrapper {
    padding: 10px;
    position: absolute;
    width: 620px;
    min-height: 112px;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    bottom: -90px;
    left: -80px;
}

.modal-form p:nth-child(odd) {
    margin-right: 20px;
}


.modal-map {
    top: 120px;
    bottom: auto;
    width: 943px;
    height: 449px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.75));
}

.modal-wrapper {
    position: relative;
}

.modal-map iframe {
    border: none;
}

.modal-wrapper::before {
    content: "";
    position: absolute;
    width: 943px;
    height: 7px;
    background: var(--basic-red);
    top: 0;
    left: 0;
}

/* !МОДАЛЬНОЕ ОКНО КАТАЛОГ */

.catalog-modal {
    width: 620px;
    min-height: 283px;
    top: 120px;
    bottom: auto;
    box-shadow: 0px 20px 40px rgba(41, 52, 73, 0.75);
    background: var(--basic-white);
}

.catalog-modal-wrapper {
    position: relative;
}

.catalog-modal-wrapper::before {
    content: "";
    position: absolute;
    width: 620px;
    height: 7px;
    background: var(--basic-red);
}

.catalog-modal-wrapper::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    top: 50px;
    left: 70px;
    background: url(../img/icon-mark.svg);
}


.catalog-modal-title {
    padding: 70px 99px;
    padding-left: 170px;
}

.catalog-modal-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
}

.catalog-modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    min-height: 112px;
    background: #f1f1f1;
}

.catalog-modal-button button:not(:last-child) {
    margin-right: 10px;
}

.catalog-modal-button button {
    border: none;
}

.catalog-ordering {
    padding: 10px 46px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.catalog-back {
    padding: 10px 31px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    background: var(--basic-white);
}

/* !АНИМАЦИИ */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
