/* !!!!!Кастомные свойства */
:root {
  --basic-dark-red: #ee3643;
  --special-icon-icon: #3d546f;
  --special-button-wrift: #32425c;
  --special-button: #293449;
  --special-filter: #b4b8bf;
  --special-dark-red: #BA2732;
  --special-red: #CA2C37;
  --special-icon: #5B6069;
  --basic-yellow-green-red-black: #f2f6f8;
  --basic-light-black: #161d29;
  --basic-dark-grey: #c5c5c5;
  --basic-grey-white: #f3f7f9;
  --basic-light-grey: #f1f5f7;
  --basic-silver: #f4f7f9;
  --basic-light-gray: #eaeaea;
  --basic-dark-blue: #293449;
  --basic-blue: #32425c;
  --basic-grey: #888888;
  --basic-red: #ee3643;
  --basic-brown: #f9f5f0;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-yellow: #ffbf47;
  --basic-light-green: #5fbb2d;
  --basic-green: #8ed78f;
  --basic-dark-green: #63a63e;
  --basic-gold: #ffd180;
  --special-yellow: #ffc047;
  --special-blue: #3bbce3;
  --special-violet: #dc91d8;
  --special-gold: #ffda96;
  --special-light-grey: #a9a9a9;
  --special-light-blue: #32425c;
  --special-dark-blue: #1d2739;
  --special-dark-yellow: #f7f3ec;
  --special-icon-gray: #69717F;
  --basic-light-white-transparent: rgba(0, 0, 0, 0.0001);
}

/*  !?!  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*!HEADER*/

.main-header {
  min-height: 320px;
  background-color: var(--basic-silver);
  margin-bottom: 59px;
}

.header-wrapper,
.container,
.footer-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.label-search {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.search {
  background-color: var(--special-button);
  outline: none;
  border: none;
}

.header-inner {
  min-height: 42px;
  background-color: var(--basic-dark-blue);
  margin-bottom: 46px;
}

.header-main-menu {
  min-height: 42px;
  display: flex;
  align-items: center;
  background-color: var(--basic-dark-blue);
}

.footer-logo,
.header-logo {
  margin-left: -35px;
  padding: 0;
  margin: 0;
}

.header-logo {
  margin-right: 17px;
}

.form-search {
  margin-right: auto;
}

.header-additional-menu {
  display: flex;
  padding-left: 30px;
}

.header-bookmark {
  margin-right: 50px;
}

.header-basket {
  margin-right: 25px;
}

.header-basket-catalog {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  min-height: 142px;
}

.bookmark-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.bookmark-icon {
  fill: var(--special-icon-gray);
}

.header-bookmark:hover svg {
  fill: var(--basic-white);
}

.header-bookmark:active svg {
  fill: var(--special-icon);
}

.basket-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.basket-icon-color {
  fill: var(--special-icon-gray);
}

.basket-link:hover .basket-icon-color {
  fill: var(--basic-white);
}

.basket-link:active .basket-icon-color {
  fill: var(--special-icon-gray);
}

.order-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  width: 150px;
  min-height: 42px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-dark-green);
}

.order-link:hover {
  background-color: var(--basic-light-green);
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-dark-green);
}

.header-description {
  margin: 0;
  padding: 0;
  width: 197px;
  min-height: 71px;
  margin-right: 93px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-contacts {
  margin-right: 70px;
}

.header-phone {
  display: flex;
  width: 270px;
  min-height: 45px;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
}

.header-phone::before {
  padding-right: 16px;
  content: url(/img/icon-phone.svg);
}

.header-address {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-blue);
}

.login {
  margin-right: 10px;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  width: 121px;
  min-height: 45px;
}

.registration-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  width: 150px;
  min-height: 45px;
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link:hover,
.registration-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--basic-dark-grey);
}

.name,
.my-orders,
.personal-area {
  background-color: var(--basic-light-grey);
}

.user-list {
  list-style: none;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.my-orders,
.personal-area {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--special-light-blue);
}

.user-item:hover a:not(.name) {
  color: var(--basic-red);
}

.user-item:active a:not(.name) {
  color: var(--basic-dark-grey);
}

.icon {
  fill: var(--basic-dark-grey);
}

.login-link:active .icon {
  fill: var(--basic-dark-grey);
}

.login-link:hover .icon {
  fill: var(--special-icon);
}

.name {
  color: var(--basic-black);
}

.name:active {
  color: var(--basic-dark-grey);
}

.name-icon-color {
  fill: var(--basic-dark-grey);
}

.name:hover .name-icon-color {
  fill: var(--special-icon-icon);
}

.name:active .name-icon-color {
  fill: var(--basic-dark-grey);
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 60px;
  background-color: var(--special-light-blue);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-left: 53px;
  list-style: none;
}

.navigation-item {
  margin-right: 56px;
}

.navigation-item:last-child {
  margin-right: 53px;
}

.site-navigation a {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.navigation-item:hover {
  background-color: var(--basic-dark-blue);
}

.navigation-item:active {
  background-color: var(--special-dark-blue);
}

/*!MAIN*/
/*!6 КАРТИНОК С КНОПКАМИ И СЛАЙДЕР*/

.offer-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offer-title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.offer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.offer-link:hover {
  background-color: rgba(77, 77, 77, 0.3);
}

.offer-link:active {
  background-color: rgba(66, 66, 66, 0.3);
}

.basket-link:active,
.header-bookmark:active {
  background-color: var(--basic-light-black);
  color: rgba(255, 255, 255, 0.5);
}

.basket-link-catalog {
  background-color: var(--special-red);
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  min-height: 42px;
}

.offer-title-slider {
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-white);
  list-style: none;
}

.offer-prescription-slider {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.offer-link-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  min-height: 38px;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.offer-link-slider:hover {
  background-color: var(--special-red);
}

.offer-link-slider:active {
  background-color: var(--special-dark-red);
}

.slider-photo {
  background-color: var(--basic-white);
}

.offer-item {
  padding-top: 20px;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: 200px;
}

.offer-item-materials {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--basic-yellow);
  background-image: url(../img/vedro.svg);
}

.offer-item-tools {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--special-blue);
  background-image: url(../img/drell.svg);
}

.offer-item-technics {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--special-violet);
  background-image: url(../img/traktor.svg);
}

.offer-slider-item {
  list-style: 0;
  margin: 0;
  padding: 0;
}

.offer-slider-item {
  grid-column: 1/3;
  grid-row: 2/4;
}

.offer-item-slider {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

.offer-title-slider {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}

.offer-prescription-slider {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 2/3;
}

.slider-photo {
  z-index: 0;
  grid-column: 1/2;
  grid-row: 1/4;
}

.offer-link-slider {
  grid-column: 1/2;
  grid-row: 3/4;
  z-index: 1;
}

.offer-item-discounts {
  background-color: var(--basic-green);
  background-image: url(../img/korzina.svg);
}

.offer-item-delivery {
  background-color: var(--basic-yellow);
  background-image: url(../img/machina.svg);
}

.offer {
  margin-bottom: 60px;
}

/*!ПОПУЛЯРНЫЕ ПРЕДЛОЖЕНИЯ И БРЕНДЫ*/



.bestsellers-navigation,
.brands-navigation {
  min-height: 89px;
  padding-left: 28px;
  background-color: var(--basic-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bestsellers-navigation {
  padding-right: 14px;

}

.brands-navigation {
  padding-right: 19px;
}

.bestsellers-navigation-title,
.brands-title {
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-brown);
}

.bestsellers-navigation-link,
.brands-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  min-height: 38px;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.bestsellers-navigation-link:hover,
.popular-link:hover {
  background-color: var(--special-red);
}

.bestsellers-navigation-link:hover,
.popular-link:active {
  background-color: var(--special-dark-red);
}

.bestsellers-list,
.brands-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  margin: 0;
  padding: 0;
}

.bestsellers,
.brands,
.services,
.index-column {
  margin-bottom: 70px;
}

.bestsellers-list,
.brands-list {
  gap: 20px;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--basic-light-gray);
  background-color: var(--basic-white);
}

.card-title,
.old-price {
  margin: 0;
  padding: 0;
}

.card-image-wrapper {
  width: 220px;
  min-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.card-title {
  order: 1;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.old-price {
  order: 2;
  margin-bottom: auto;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: var(--special-light-grey);
}

.new-price {
  margin-bottom: 20px;
  order: 3;
  width: 141px;
  min-height: 38px;
  vertical-align: middle;
  padding: 5px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-light-gray);
}

.brands-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands-item:active .brands-picture {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}


/*!СЕРВИСЫ*/

.services {
  background-color: var(--basic-light-grey);
}

.services-list,
.services-slider-list {
  list-style: none;
}

.services-slider-button,
.services-slider-button:active,
.services-slider-button:focus {
  border: none;
  outline: none;
}

.services-slider-button:hover {
  background-color: var(--special-button);
}

.services-slider-button:active {
  background-color: var(--special-white);
  color: var(--special-button-wrift);
  box-shadow: 0px 1px 0px var(--basic-light-white-transparent);
}

.services-slider-item {
  background-position: 200px -50px;
  background-repeat: no-repeat;
}

.services-delivery {
  background-image: url(../img/dostavka.png);
}

.services-guarantee {
  background-image: url(../img/garantia.png);
}

.services-credit {
  background-image: url(../img/kredit.png);
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-tagline {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.services-slider-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--special-light-blue);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services-slider-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-light-blue);
}

.services-slider-description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.services-request {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*!COMPANY*/

.company-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-delivery,
.company-description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.company-delivery-list {
  list-style: none;
}

.company-delivery-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.company-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*!CONTACTS*/

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.map {
  background: var(--basic-light-white-transparent);
}

.map-help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.index-column {
  display: grid;
  grid-template-columns: 1fr auto;
}

/*!FOOTER*/

.footer-logo {
  margin-right: 170px;
}

.main-footer {
  background-color: var(--basic-blue)
}

.footer-wrapper {
  background-color: var(--basic-blue);
}

.footer-additional-wrapper {
  background-color: var(--basic-dark-blue);
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-main-menu {
  display: flex;
  min-height: 68px;
  margin-bottom: 22px;
  background-color: var(--basic-blue);
}

.footer-navigation-list {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.footer-navigation-item {
  margin-right: 58px;
}

.footer-navigation-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-grey);
}

.footer-navigation-link:hover,
.footer-additional-link:hover {
  text-decoration: underline;
}

.footer-navigation-link:active,
.footer-additional-link:active {
  mix-blend-mode: normal;
  opacity: 0.5;
  text-decoration: none;
}

.footer-additional-menu {
  display: flex;
  background-color: var(--basic-blue);
}

.footer-address,
.footer-phone {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-white);
}

.footer-address {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  margin-right: 92px;
}

.footer-additional-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-additional-item {
  margin-right: 58px;
}

.footer-additional-item:last-child {
  margin-right: 0;
}

.footer-additional-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gold);
}

.footer-about-us {
  display: flex;
  align-items: center;
  min-height: 107px;
  background-color: var(--special-button);
}

.about-us-wrapper {
  background-color: var(--special-button);
}

.footer-all-rights {
  margin-right: 161px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 118px;
}

.social-item {
  display: block;
  width: 44px;
  min-height: 44px;
}

.social-item-vkontakte {
  background-image: url(/img/Vkontakte.svg);
}

.social-item-facebook {
  background-image: url(/img/Facebook.svg);
}

.social-item-instagram {
  background-image: url(/img/Instagram.svg);
}

.footer-feedback {
  margin: 0;
  padding: 0;
  margin-right: 51px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-mail {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gold);
}

.footer-copyright {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-copyright-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gold);
}

.footer-mail:hover,
.footer-copyright-link:hover {
  text-decoration: underline;
}

.footer-mail:active,
.footer-copyright-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/*!Каталог*/

.breadcrumbs-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-button-wrift);
  background-color: var(--basic-yellow-green-red-black);
}

.breadcrumbs-item:first-child::before {
  content: url(../img/icon-home.svg);
  margin-right: 15px;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 20px;
  margin-right: 15px;
}

.breadcrumbs-link::before {
  content: url(../img/icon-right-small.svg);
  margin-right: 16px;
}

.breadcrumbs-selected {
  padding-left: 30px;
  padding-top: 30px;
  width: 940px;
  min-height: 90px;
  background-color: var(--basic-yellow-green-red-black);
}

.product {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-yellow-green-red-black);
}

.sorting {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--special-dark-yellow);
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto min-content min-content;
  grid-template-rows: auto;
}

.sorting-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.sorting-link-price {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-red);
}

.sorting-link-type {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-red);
}

.sorting-link-function {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-red);
}

.sorting-item-type:hover .sorting-link-type,
.sorting-item-function:hover .sorting-link-function {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red)
}

.sorting-item-type:active .sorting-link-type,
.sorting-item-function:active .sorting-link-function {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}

.last-icon {
  fill: var(--basic-dark-grey);
}

.last-icon-red {
  fill: var(--basic-red);
}

.sorting-scroll-down:hover .last-icon {
  fill: var(--basic-black);
}

.sorting-scroll-down:active .last-icon {
  fill: var(--basic-red);
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-menu {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.card-buy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.card-buy:hover {
  background-color: #5FBB2D;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.card-buy:active {
  background-color: #518534;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.card-buy::before {
  content: url(/img/icon-cart.svg);
}

.card-bookmark:hover {
  border: 2px solid var(--special-button-wrift);
}

.card-bookmark:active {
  opacity: 0.5;
}

.card-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-dark-green);
}

.pagination-list {
  display: grid;
  grid-template-columns: 30px 30px 30px auto;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.pagination-item-select {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-item:hover a {
  border: 1px solid var(--basic-dark-grey);
}

.pagination-item:active a {
  border: 1px solid var(--basic-dark-red);
}

.about-product {
  background-color: var(--basic-light-grey);
}

.about-product-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-product-description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
}

.filters-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 38px;
  background-color: var(--special-dark-yellow);
}
